/**{
    margin:0;
    padding:0;
}*/
html{
    height: 100%;
}
body::-webkit-scrollbar{
    width: 2px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(3, 59, 133);
    border-radius: 5px;
}
body{
    min-height: 100%;
    margin:0;
    padding:0;
    background-color: aliceblue;
    position: relative;
}
header .Cabeza{
    background-color: rgb(53, 225, 255);
    width: 99%;
    max-height: 400px;
    padding: 0.5%;
}
header .Cabeza h1{
    margin: 0%;
}
body .Contenedor header .Cabeza .Logo{
    border: 1px solid rgb(54, 71, 231);
    border-image:10%;
    border-radius: 10%;
}
/*.articles{
}*/
.articles{
    float: left;
    width: 60%;
    background-color: aquamarine;
}
.article{
    width: 20%;
    padding: 5%;
    padding-left: 20%;
    background-color:antiquewhite ;
    margin: 3%;
}
.article div{
    border: 3px solid black;
    text-align: center;
    text-decoration: none;
    background-color: azure;
    border-radius: 15%;
    width: 100%;
    height: 50px;
}
.article div:hover{
    text-decoration: none;
    background-color: rgb(177, 183, 238);
    color:azure;
    border: 5px solid rgb(28, 58, 66);
    border-radius: 15%;
    cursor: pointer;
}
.article div a{
    text-decoration: none;
    color: rgb(89, 115, 231);
}
.article div a:hover{
    text-decoration: none;
    color: azure;
}
aside{
    float: left;
    width: 35%;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
    width: 100%;
    background-color:rgb(53, 225, 255);
    align-items: center;
}
@media  screen and (max-width: 850px) {
    a{
        font-size: 70%;
    }
    .soporte{
        font-size: 70%;
        width: 30%;
    }
}
@media  screen and (max-width: 400px) {
    a{
        font-size: 50%;
    }
    .soporte{
        font-size: 30%;
    }
}